################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/round1/CopilotIndices/17.14.1561.44479
/.vs/round1/FileContentIndex
/.vs/slnx.sqlite
/.vs/round1
